extends layout 

block content 
  h1 #{title}: #{bookinstance.book.title}

  p Do you really want to delete this Book Instance?

    form(method="POST" action="")
      input#bookinstanceid.form-control(type="hidden" name="bookinstanceid" value=bookinstance._id required=true)

      button.btn.btn-primary(type="submit") Delete
